.header {
	&-slider {
		padding-top: 110px;

		&__item-content {
			display: flex;
			justify-content: space-between;
			min-height: 350px;
		}

		&__item-info {
			max-width: 510px;
			color: #fff;
		}

		&__title {
			font-weight: 700;
			font-size: 44px;
			line-height: 60px;
			margin-bottom: 10px;
		}

		&__btn {
			text-decoration: none;
			text-transform: uppercase;
			color: #250f8a;
			padding: 13px 39px;
			background: #ffca00;
			border-radius: 25px;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 600;
			font-size: 15px;
			margin-bottom: 30px;
		}

		&__item-images {
			margin: 10px 82px 0 0;
		}
	}

	&-item__desc {
		line-height: 55px;
		font-size: 24px;
		margin-bottom: 60px;
	}

	&-dots {
		list-style: none;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;

		.slick-active {

			button {
				width: 15px;
				opacity: 1;
			}
		}

		button {
			border: none;
			background: #fff;
			opacity: 0.5;
			font-size: 0;
			padding: 0;
			width: 7px;
			height: 7px;
			border-radius: 3.5px;
			outline: none;
		}
	}

}