.reviews {
	background: url('../images/reviews-bg.jpg') center center / cover no-repeat;
	padding: 38px 0 82px;

	&__title {
		color: #fff;
		max-width: 384px;
		font-weight: 700;
		font-size: 35px;
		line-height: 45px;
		margin: 0 auto 48px;
		text-align: center;
	}

	&__items {
		max-width: 940px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		width: 300px;
		min-height: 260px;
		border-radius: 5px;
		background-color: rgba($color: #fff, $alpha: 0.2);

		img {
			border-radius: 50%;
		}

		&-info {
			font-weight: 400;
			color: #fff;
			padding-left: 18px;
		}

		&-position {
			opacity: 0.5;
		}

		&-head {
			display: flex;
			padding: 35px 10px 0 20px;
			padding-bottom: 18px;
		}

		&-text {
			max-width: 260px;
			margin: 0 auto;
			text-align: center;
			padding-top: 39px; // Возможно обновлю
			color: #fff;
			font-size: 15px;
			position: relative;

			&:before {
				content: "“";
				font-size: 40px;
				line-height: 55px;
				font-weight: 700;
				top: 0;
				position: absolute;
				left: 0;
				right: 0;
			}
		}
	}
}