.specialised {
	padding: 55px 0 90px;
	background-image: url('../images/Style.svg');
	background-position: left bottom;
	background-repeat: no-repeat;
	color: #202020;
	text-align: center;
	align-items: baseline;

	&__title {
		margin-bottom: 96px;
	}

	.title {
		font-size: 35px;
		line-height: 45px;
		font-weight: 700;
		text-align: center;
	}

	&__item {
		width: 280px;

		&-title {
			margin-bottom: 11px;
			font-size: 20px;
			font-weight: 700;
		}

		&-text {
			color: #272727;
			opacity: .7;
			font-size: 15px;
		}

		&-photo {
			min-height: 180px;
		}
	}

	&__block {
		display: flex;
		justify-content: space-between;
		max-width: 980px;
		margin: 0 auto;
	}
}